body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u33 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u35 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u38 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u40 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u43 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u46 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:416px;
  top:382px;
  width:107px;
  height:58px;
}
#u50 {
  position:absolute;
  left:2px;
  top:21px;
  width:103px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:58px;
  top:29px;
  width:855px;
  height:507px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:508px;
  background:inherit;
  background-color:rgba(102, 204, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:508px;
}
#u54 {
  position:absolute;
  left:2px;
  top:246px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:264px;
}
#u55 {
  position:absolute;
  left:146px;
  top:122px;
  width:284px;
  height:264px;
}
#u56 {
  position:absolute;
  left:2px;
  top:124px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
  color:#FF0000;
}
#u57 {
  position:absolute;
  left:468px;
  top:211px;
  width:171px;
  height:93px;
  font-size:45px;
  color:#FF0000;
}
#u58 {
  position:absolute;
  left:2px;
  top:21px;
  width:167px;
  word-wrap:break-word;
}
#u51_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:507px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:509px;
  background:inherit;
  background-color:rgba(102, 204, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:509px;
}
#u61 {
  position:absolute;
  left:2px;
  top:246px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:426px;
  top:0px;
  width:426px;
  height:263px;
}
#u63 {
  position:absolute;
  left:2px;
  top:124px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:265px;
}
#u64 {
  position:absolute;
  left:146px;
  top:122px;
  width:284px;
  height:265px;
}
#u65 {
  position:absolute;
  left:2px;
  top:124px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
  color:#FF0000;
}
#u66 {
  position:absolute;
  left:468px;
  top:212px;
  width:171px;
  height:94px;
  font-size:45px;
  color:#FF0000;
}
#u67 {
  position:absolute;
  left:2px;
  top:22px;
  width:167px;
  word-wrap:break-word;
}
#u51_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:507px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:507px;
  background:inherit;
  background-color:rgba(102, 204, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:0px;
  top:-2px;
  width:854px;
  height:507px;
}
#u70 {
  position:absolute;
  left:2px;
  top:246px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71 {
  position:absolute;
  left:427px;
  top:-2px;
  width:427px;
  height:507px;
}
#u72 {
  position:absolute;
  left:2px;
  top:246px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u73 {
  position:absolute;
  left:0px;
  top:245px;
  width:427px;
  height:264px;
}
#u74 {
  position:absolute;
  left:2px;
  top:124px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:264px;
}
#u75 {
  position:absolute;
  left:146px;
  top:120px;
  width:285px;
  height:264px;
}
#u76 {
  position:absolute;
  left:2px;
  top:124px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
  color:#FF0000;
}
#u77 {
  position:absolute;
  left:469px;
  top:209px;
  width:171px;
  height:93px;
  font-size:45px;
  color:#FF0000;
}
#u78 {
  position:absolute;
  left:2px;
  top:21px;
  width:167px;
  word-wrap:break-word;
}
#u51_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:507px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:506px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:854px;
  height:506px;
}
#u81 {
  position:absolute;
  left:2px;
  top:245px;
  width:850px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
  color:#FF0000;
}
#u82 {
  position:absolute;
  left:469px;
  top:211px;
  width:237px;
  height:93px;
  font-size:45px;
  color:#FF0000;
}
#u83 {
  position:absolute;
  left:2px;
  top:21px;
  width:233px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:264px;
}
#u84 {
  position:absolute;
  left:146px;
  top:121px;
  width:285px;
  height:264px;
}
#u85 {
  position:absolute;
  left:2px;
  top:124px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u86 {
  position:absolute;
  left:92px;
  top:50px;
  width:35px;
  height:35px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0099FF;
}
#u88 {
  position:absolute;
  left:137px;
  top:55px;
  width:81px;
  height:27px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#0099FF;
}
#u89 {
  position:absolute;
  left:2px;
  top:-2px;
  width:77px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:58px;
  top:93px;
  width:855px;
  height:443px;
  overflow:hidden;
  touch-action:pan-y;
}
#u90_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:443px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:251px;
}
#u93 {
  position:absolute;
  left:575px;
  top:9px;
  width:265px;
  height:251px;
}
#u94 {
  position:absolute;
  left:2px;
  top:118px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
}
#u95 {
  position:absolute;
  left:592px;
  top:163px;
  width:231px;
  height:76px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u96 {
  position:absolute;
  left:2px;
  top:18px;
  width:227px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:65px;
}
#u97 {
  position:absolute;
  left:675px;
  top:97px;
  width:66px;
  height:65px;
}
#u98 {
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:149px;
}
#u100 {
  position:absolute;
  left:224px;
  top:266px;
  width:189px;
  height:149px;
}
#u101 {
  position:absolute;
  left:2px;
  top:66px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u102 {
  position:absolute;
  left:236px;
  top:358px;
  width:165px;
  height:47px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:44px;
}
#u104 {
  position:absolute;
  left:292px;
  top:307px;
  width:53px;
  height:44px;
}
#u105 {
  position:absolute;
  left:2px;
  top:14px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:149px;
}
#u107 {
  position:absolute;
  left:433px;
  top:266px;
  width:189px;
  height:149px;
}
#u108 {
  position:absolute;
  left:2px;
  top:66px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:45px;
}
#u109 {
  position:absolute;
  left:445px;
  top:359px;
  width:165px;
  height:45px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u111 {
  position:absolute;
  left:504px;
  top:307px;
  width:47px;
  height:47px;
}
#u112 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:149px;
}
#u114 {
  position:absolute;
  left:16px;
  top:266px;
  width:189px;
  height:149px;
}
#u115 {
  position:absolute;
  left:2px;
  top:66px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u116 {
  position:absolute;
  left:28px;
  top:358px;
  width:165px;
  height:47px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:51px;
}
#u118 {
  position:absolute;
  left:84px;
  top:304px;
  width:53px;
  height:51px;
}
#u119 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:149px;
}
#u121 {
  position:absolute;
  left:641px;
  top:266px;
  width:189px;
  height:149px;
}
#u122 {
  position:absolute;
  left:2px;
  top:66px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:47px;
}
#u123 {
  position:absolute;
  left:653px;
  top:358px;
  width:165px;
  height:47px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:49px;
}
#u125 {
  position:absolute;
  left:711px;
  top:307px;
  width:50px;
  height:49px;
}
#u126 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:251px;
}
#u128 {
  position:absolute;
  left:12px;
  top:9px;
  width:265px;
  height:251px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u129 {
  position:absolute;
  left:2px;
  top:118px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:76px;
}
#u130 {
  position:absolute;
  left:70px;
  top:163px;
  width:153px;
  height:76px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u131 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u132 {
  position:absolute;
  left:106px;
  top:90px;
  width:78px;
  height:78px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u133 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:251px;
}
#u135 {
  position:absolute;
  left:294px;
  top:9px;
  width:265px;
  height:251px;
}
#u136 {
  position:absolute;
  left:2px;
  top:118px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:76px;
}
#u137 {
  position:absolute;
  left:311px;
  top:163px;
  width:231px;
  height:76px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:2px;
  top:18px;
  width:227px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:78px;
}
#u139 {
  position:absolute;
  left:388px;
  top:90px;
  width:78px;
  height:78px;
}
#u140 {
  position:absolute;
  left:2px;
  top:31px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:334px;
  top:457px;
  width:174px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u142 {
  position:absolute;
  left:402px;
  top:415px;
  width:15px;
  height:15px;
}
#u143 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u144 {
  position:absolute;
  left:426px;
  top:415px;
  width:15px;
  height:15px;
}
#u145 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:443px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u90_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
}
#u147 {
  position:absolute;
  left:16px;
  top:127px;
  width:381px;
  height:170px;
}
#u148 {
  position:absolute;
  left:2px;
  top:77px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
}
#u149 {
  position:absolute;
  left:16px;
  top:127px;
  width:381px;
  height:170px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:2px;
  top:77px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:53px;
}
#u151 {
  position:absolute;
  left:95px;
  top:244px;
  width:223px;
  height:53px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
}
#u154 {
  position:absolute;
  left:431px;
  top:127px;
  width:381px;
  height:170px;
}
#u155 {
  position:absolute;
  left:2px;
  top:77px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:170px;
}
#u156 {
  position:absolute;
  left:431px;
  top:127px;
  width:381px;
  height:170px;
}
#u157 {
  position:absolute;
  left:2px;
  top:77px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:53px;
}
#u158 {
  position:absolute;
  left:536px;
  top:244px;
  width:153px;
  height:53px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#000000;
}
#u159 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u161 {
  position:absolute;
  left:16px;
  top:11px;
  width:262px;
  height:110px;
}
#u162 {
  position:absolute;
  left:2px;
  top:47px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u163 {
  position:absolute;
  left:16px;
  top:9px;
  width:262px;
  height:110px;
}
#u164 {
  position:absolute;
  left:2px;
  top:47px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u165 {
  position:absolute;
  left:71px;
  top:81px;
  width:153px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u166 {
  position:absolute;
  left:2px;
  top:5px;
  width:149px;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u168 {
  position:absolute;
  left:292px;
  top:9px;
  width:262px;
  height:112px;
}
#u169 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u170 {
  position:absolute;
  left:292px;
  top:9px;
  width:262px;
  height:112px;
}
#u171 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u172 {
  position:absolute;
  left:349px;
  top:79px;
  width:149px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u173 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u175 {
  position:absolute;
  left:571px;
  top:9px;
  width:262px;
  height:112px;
}
#u176 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u177 {
  position:absolute;
  left:571px;
  top:9px;
  width:262px;
  height:112px;
}
#u178 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u179 {
  position:absolute;
  left:628px;
  top:83px;
  width:149px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u180 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u182 {
  position:absolute;
  left:14px;
  top:301px;
  width:262px;
  height:112px;
}
#u183 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:110px;
}
#u184 {
  position:absolute;
  left:16px;
  top:301px;
  width:262px;
  height:110px;
}
#u185 {
  position:absolute;
  left:2px;
  top:47px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
}
#u186 {
  position:absolute;
  left:69px;
  top:375px;
  width:153px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u187 {
  position:absolute;
  left:2px;
  top:5px;
  width:149px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u189 {
  position:absolute;
  left:292px;
  top:301px;
  width:262px;
  height:112px;
}
#u190 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u191 {
  position:absolute;
  left:292px;
  top:301px;
  width:262px;
  height:112px;
}
#u192 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u193 {
  position:absolute;
  left:349px;
  top:372px;
  width:149px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u194 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u196 {
  position:absolute;
  left:571px;
  top:301px;
  width:262px;
  height:112px;
}
#u197 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:112px;
}
#u198 {
  position:absolute;
  left:571px;
  top:301px;
  width:262px;
  height:112px;
}
#u199 {
  position:absolute;
  left:2px;
  top:48px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:38px;
}
#u200 {
  position:absolute;
  left:628px;
  top:375px;
  width:149px;
  height:38px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u201 {
  position:absolute;
  left:2px;
  top:5px;
  width:145px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u202 {
  position:absolute;
  left:401px;
  top:415px;
  width:15px;
  height:15px;
}
#u203 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u204 {
  position:absolute;
  left:426px;
  top:415px;
  width:15px;
  height:15px;
}
#u205 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u206 {
  position:absolute;
  left:228px;
  top:56px;
  width:54px;
  height:27px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#AEAEAE;
}
#u207 {
  position:absolute;
  left:2px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:486px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  position:absolute;
  left:56px;
  top:50px;
  width:857px;
  height:486px;
}
#u210 {
  position:absolute;
  left:2px;
  top:235px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u211 {
  position:absolute;
  left:336px;
  top:75px;
  width:300px;
  height:38px;
  font-size:16px;
}
#u212 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:371px;
  top:148px;
  width:228px;
  height:30px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:239px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u214 {
  position:absolute;
  left:375px;
  top:184px;
  width:221px;
  height:239px;
}
#u215 {
  position:absolute;
  left:2px;
  top:112px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:375px;
  top:184px;
  width:74px;
  height:60px;
}
#u217 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u218 {
  position:absolute;
  left:448px;
  top:184px;
  width:74px;
  height:60px;
}
#u219 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:522px;
  top:184px;
  width:74px;
  height:60px;
}
#u221 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  position:absolute;
  left:375px;
  top:244px;
  width:74px;
  height:60px;
}
#u223 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u224 {
  position:absolute;
  left:448px;
  top:244px;
  width:74px;
  height:60px;
}
#u225 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226 {
  position:absolute;
  left:522px;
  top:244px;
  width:74px;
  height:60px;
}
#u227 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228 {
  position:absolute;
  left:375px;
  top:303px;
  width:74px;
  height:60px;
}
#u229 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:448px;
  top:303px;
  width:74px;
  height:60px;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:522px;
  top:303px;
  width:74px;
  height:60px;
}
#u233 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:448px;
  top:363px;
  width:74px;
  height:60px;
}
#u235 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u236 {
  position:absolute;
  left:522px;
  top:363px;
  width:74px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u237 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  word-wrap:break-word;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:375px;
  top:363px;
  width:74px;
  height:60px;
}
#u240 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u241 {
  position:absolute;
  left:399px;
  top:381px;
  width:25px;
  height:24px;
}
#u242 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u243 {
  position:absolute;
  left:398px;
  top:446px;
  width:175px;
  height:39px;
  color:#FFFFFF;
}
#u244 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u245 {
  position:absolute;
  left:870px;
  top:52px;
  width:30px;
  height:30px;
}
#u246 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:4px;
}
#u247 {
  position:absolute;
  left:58px;
  top:93px;
  width:855px;
  height:1px;
}
#u248 {
  position:absolute;
  left:2px;
  top:-8px;
  width:851px;
  visibility:hidden;
  word-wrap:break-word;
}
