body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1062 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1063 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1066 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1068 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1069 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1070 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1071 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1073 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:72px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1074 {
  position:absolute;
  left:58px;
  top:28px;
  width:857px;
  height:72px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:28px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1076 {
  position:absolute;
  left:432px;
  top:49px;
  width:108px;
  height:49px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1078 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1080 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1081 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1082 {
  position:absolute;
  left:136px;
  top:201px;
  width:707px;
  height:82px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:16px;
  width:703px;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:57px;
}
#u1084 {
  position:absolute;
  left:433px;
  top:120px;
  width:100px;
  height:56px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1086 {
  position:absolute;
  left:63px;
  top:59px;
  width:30px;
  height:30px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
