body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:972px;
  background:inherit;
  background-color:rgba(245, 246, 248, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  position:absolute;
  left:187px;
  top:-187px;
  width:598px;
  height:972px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u401 {
  position:absolute;
  left:2px;
  top:478px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  position:absolute;
  left:56px;
  top:27px;
  width:860px;
  height:547px;
}
#u403 {
  position:absolute;
  left:2px;
  top:266px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u404 {
  position:absolute;
  left:58px;
  top:536px;
  width:857px;
  height:38px;
}
#u405 {
  position:absolute;
  left:2px;
  top:11px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u406 {
  position:absolute;
  left:335px;
  top:545px;
  width:25px;
  height:22px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u407 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u408 {
  position:absolute;
  left:473px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u409 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  position:absolute;
  left:593px;
  top:542px;
  width:28px;
  height:28px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u411 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u412 {
  position:absolute;
  left:844px;
  top:29px;
  width:20px;
  height:20px;
}
#u413 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u414 {
  position:absolute;
  left:858px;
  top:28px;
  width:55px;
  height:25px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u415 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u416 {
  position:absolute;
  left:312px;
  top:177px;
  width:348px;
  height:65px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u417 {
  position:absolute;
  left:2px;
  top:14px;
  width:344px;
  word-wrap:break-word;
}
#u418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:265px;
  top:301px;
  width:140px;
  height:40px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u419 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u420 {
  position:absolute;
  left:537px;
  top:301px;
  width:140px;
  height:40px;
  font-family:'.萍方-简 正规体', '.萍方-简';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u421 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
